<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">


    <!--by using <context:annotation-config/> we are enabled @Autowired annotation:-->
    <context:annotation-config/>

    <!--Create an Object with the Student-->
    <bean id="student" class="com.kash.Student">
        <property name="name" value="Vikky"/>
        <property name="interestedCourse" value="Java"/>
        <property name="hobby" value="listing music"/>

    </bean>


</beans>
